# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
jspm_packages/
testing
testingmywebsite/
testingmywebsite-main/

# OS X
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment
.env
